/* Reset Rules */

* {
    padding: 0;
    margin: 0;
    box-sizing: border border-box;
    font-family: 'Nunito', sans-serif;
}

/* Color background landing */

body {
background-color: #FFFFFE;
}

/* Rules for Header and Main */

header, main {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 60px;
}

/* Header Style */

h1 {
    text-align: center;

    padding-top: 15px;
    
    font-size: 38px;
    color: #E53C70;
    font-weight: 900; 
}

/* Paragraph Style */

section:first-of-type {
    margin-bottom: 60px;
}

section > p {

    text-align: center;

    color: #3F4249;
    font-size: 18px;
}

/* Cards sections*/

.business-card {
    width: calc(100% / 3 - 10px);
    height: 120px;

    float: left;

    margin-left: 10px;
    margin-bottom: 50px;

    background-color: #0F0E17;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

/* Style Business cards */

#rino {
    position: relative;
    left: 5%;
    top: 10%;
}

.img-card {
    height: 120px;
    float: left;
}

.name {
    position: relative;
    top: 5px;

    color: white;
    font-weight: bolder;
    font-size: 18px;
}

.business-role {
    position: relative;
    top: 10px;

    padding-top: 8px;

    color: white;
    font-style: italic;
    
}

a:last-child {
    display: inline-block;

    position: relative;
    bottom: 3%;

    color:#57C4F0;
    text-decoration: none;
    font-size: 0.8em;
}