/* Reset Rules */

* {
    padding: 0;
    margin: 0;
    box-sizing: border border-box;
    font-family: 'Nunito', sans-serif;
}

/* Rules for Header and Main */

header, main {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 60px;
}

/* Header Style */

h1 {
    text-align: center;

    padding-top: 15px;
    
    font-size: 38px;
    color: #E53C70;
    font-weight: 900; 
}

/* Paragraph Style */

section:first-of-type {
    margin-bottom: 60px;
}

section > p {

    text-align: center;

    color: #3F4249;
    font-size: 18px;
}

/* Cards sections*/

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.business-card {
    width: calc(100% / 3 - 10px);
    height: 120px;

    float: left;

    margin-left: 10px;
    margin-bottom: 10px;

    background-color: red;
}

/* Style Business cards */

.img-card {
    height: 120px;
    float: left;
}

.name {
    color: white;
    font-weight: bolder;
    padding: 20px;

}

